action-msgs==1.2.1
action-tutorials-interfaces==0.20.5
action-tutorials-py==0.20.5
actionlib-msgs==4.8.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
albucore==0.0.17
albumentations==1.4.18
ament-cmake-test==1.3.11
ament-copyright==0.12.12
ament-cppcheck==0.12.12
ament-cpplint==0.12.12
ament-flake8==0.12.12
ament-index-python==1.4.0
ament-lint==0.12.12
ament-lint-cmake==0.12.12
ament-package==0.14.0
ament-pep257==0.12.12
ament-uncrustify==0.12.12
ament-xmllint==0.12.12
angles==1.15.0
annotated-types==0.7.0
anyio==4.5.2
astor==0.8.1
async-timeout==4.0.3
attrs==25.3.0
beautifulsoup4==4.13.4
builtin-interfaces==1.2.1
cachetools==5.5.2
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.2
colorlog==6.9.0
composition-interfaces==1.2.1
cssselect==1.2.0
cssutils==2.11.1
cv-bridge==3.2.1
Cython==3.1.1
dataclasses-json==0.6.7
decorator==5.2.1
demo-nodes-py==0.20.5
diagnostic-msgs==4.8.0
distro==1.9.0
domain-coordinator==0.10.0
einops==0.8.1
et_xmlfile==2.0.0
eval_type_backport==0.2.2
example-interfaces==0.9.3
examples-rclpy-executors==0.15.3
examples-rclpy-minimal-action-client==0.15.3
examples-rclpy-minimal-action-server==0.15.3
examples-rclpy-minimal-client==0.15.3
examples-rclpy-minimal-publisher==0.15.3
examples-rclpy-minimal-service==0.15.3
examples-rclpy-minimal-subscriber==0.15.3
exceptiongroup==1.2.2
filelock==3.16.1
fire==0.7.0
fonttools==4.57.0
frozenlist==1.5.0
fsspec==2025.3.0
ftfy==6.2.3
geometry-msgs==4.8.0
GPUtil==1.4.0
greenlet==3.1.1
h11==0.14.0
hf-xet==1.1.2
httpcore==1.0.8
httpx==0.28.1
huggingface-hub==0.32.0
idna==3.10
image-geometry==3.2.1
imageio==2.35.1
imagesize==1.4.1
interactive-markers==2.3.2
Jinja2==3.1.6
jiter==0.9.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.2.17
langchain-community==0.2.17
langchain-core==0.2.43
langchain-openai==0.1.25
langchain-text-splitters==0.2.4
langsmith==0.1.147
laser-geometry==2.4.0
launch==1.0.8
launch-ros==0.19.9
launch-testing==1.0.8
launch-testing-ros==0.19.9
launch-xml==1.0.8
launch-yaml==1.0.8
lazy_loader==0.4
lifecycle-msgs==1.2.1
lmdb==1.6.2
logging-demo==0.20.5
lxml==5.4.0
map-msgs==2.1.0
MarkupSafe==2.1.5
marshmallow==3.22.0
message-filters==4.3.7
more-itertools==10.5.0
multidict==6.1.0
mypy_extensions==1.1.0
nav-msgs==4.8.0
networkx==3.1
numpy==1.24.4
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.25.1
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
openai==1.63.2
opencv-contrib-python==4.10.0.84
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opt-einsum==3.3.0
orjson==3.10.15
osrf-pycommon==2.1.6
packaging==24.2
paddleocr==2.10.0
paddlepaddle-gpu==3.0.0
paddlex==3.0.0
pandas==1.5.3
pcl-msgs==1.0.0
pendulum-msgs==0.20.5
pillow==10.4.0
premailer==3.10.0
prettytable==3.11.0
propcache==0.2.0
protobuf==5.29.4
py-cpuinfo==9.0.0
pyclipper==1.3.0.post6
pydantic==2.10.6
pydantic_core==2.27.2
pypdfium2==4.30.1
pyrealsense2==2.55.1.6486
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-qt-binding==1.1.2
pytz==2025.2
PyWavelets==1.4.1
PyYAML==6.0.2
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
quality-of-service-demo-py==0.20.5
rapidfuzz==3.9.7
rcl-interfaces==1.2.1
rclpy==3.3.16
rcutils==5.1.6
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
resource-retriever==3.1.3
rmw-dds-common==1.6.0
ros2action==0.18.12
ros2bag==0.15.14
ros2cli==0.18.12
ros2component==0.18.12
ros2doctor==0.18.12
ros2interface==0.18.12
ros2launch==0.19.9
ros2lifecycle==0.18.12
ros2multicast==0.18.12
ros2node==0.18.12
ros2param==0.18.12
ros2pkg==0.18.12
ros2run==0.18.12
ros2service==0.18.12
ros2topic==0.18.12
rosbag2-interfaces==0.15.14
rosbag2-py==0.15.14
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.6
rosidl-cli==3.1.6
rosidl-cmake==3.1.6
rosidl-generator-c==3.1.6
rosidl-generator-cpp==3.1.6
rosidl-generator-py==0.14.4
rosidl-parser==3.1.6
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.6
rosidl-typesupport-introspection-cpp==3.1.6
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui==1.1.7
rqt-gui-py==1.1.7
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.7
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.8
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
sensor-msgs==4.8.0
sensor-msgs-py==4.8.0
shape-msgs==4.8.0
shapely==2.0.7
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.41
sros2==0.10.6
statistics-msgs==1.2.1
std-msgs==4.8.0
std-srvs==4.8.0
stereo-msgs==4.8.0
teleop-twist-keyboard==2.4.0
tenacity==8.5.0
termcolor==2.4.0
tf2-geometry-msgs==0.25.12
tf2-kdl==0.25.12
tf2-msgs==0.25.12
tf2-py==0.25.12
tf2-ros-py==0.25.12
tf2-tools==0.25.12
threadpoolctl==3.5.0
tifffile==2023.7.10
tiktoken==0.7.0
tokenizers==0.19.1
topic-monitor==0.20.5
tqdm==4.67.1
trajectory-msgs==4.8.0
turtlesim==1.4.2
typing-inspect==0.9.0
typing_extensions==4.13.2
ujson==5.10.0
unique-identifier-msgs==2.2.1
urllib3==2.2.3
visualization-msgs==4.8.0
wcwidth==0.2.13
yarl==1.15.2
